:root {
    --bs-info-rgb: 13, 202, 240;
}

* {

    font-size: 14px;
}

li,
ul {
    /* padding: 0;
    margin: 0; */
    box-sizing: content-box;
    width: 100%;
}

ul {
    margin-left: 10px;
    padding-left: 10px;
}
body {
    margin: 0;
    padding: 0;
}

.size-body {
    display: flex;
    /* flex-wrap: wrap; */
        flex-direction: column;
        /* align-items: flex-start; */
    width: 375px;
    height: 100vh;
    margin: 0 auto;

}

nav {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    border: 2px solid blue;
}

.balance,
.logotype {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.entries-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.in-money,
.out-money {
    width: 47%;
    position: relative;


}

.heard-in {
    box-sizing: content-box;
    width: 100%;
}

input {
    box-sizing: content-box;
    width: 90%;
    font-size: 0.8em;
}
.in_money-elements,
.out_money-elements {
    width: 100%;
}